<div class="card" style="width:50%; margin:auto">
    <h5 class="card-header"> Registered Users</h5>
    <div class="card-body">
        <ul class="list-group">
            <% if (typeof users != 'undefined') {%>
            <% users.forEach(function(user){ %>
            <li class="list-group-item"> <%= user.username %></li>
            <% })} else{ %>
            <li class="list-group-item"> There is no registered user.</li>
            <%}%>
        </ul>
    </div>
</div>