<%- include('../layouts/header') -%>

<% if (typeof message != 'undefined') { %>
<div class="alert alert-danger">
    <strong><%= message %></strong>
</div>
<% } %>


<%- include('../layouts/footer') -%>